<div class="container text-right">
    <div class="row">
        <div class="col">
            <br>
            <div class="alert border border-dark border-2 alert-primary" role="alert">
                <h2>Proyectos</h2>
            </div>
            <h3><a href="https://portfolio-1540c.web.app/" class="link-primary" title="Nuevo Portfolio Web" >Nuevo Portfolio Web</a></h3>
            <p>Después de haber realizado mi primera aplicación web para mi portfolio tome la decisión de crear una nueva usando las habilidades aprendidas y mejorando algunos aspectos.</p>

            <h3><a href="https://frontend-ace43.web.app/" class="link-primary" title="Aplicación Web para #YoProgramo">Aplicación Web para #YoProgramo</a></h3>
            <p>Mi primer proyecto de programación fue para #YoProgramo, la segunda etapa de Argentina Programa 4.0, el
                objetivo era crear mi propio portfolio web, esta aplicación debia ser de arquitectura distribuida y
                contener un diseño de interfaz de usuario (front end) que muestre la información, una base de datos que
                almacene los datos antes mencionados y debia contar con las APIs necesarias para proveer a través de
                internet la información (back end).</p>
                
        </div>
    </div>
</div>