<div class="container text-right">
    <div class="row">
        <div class="col">
            <div class="alert border border-dark border-2 alert-primary" role="alert">
                <h2>Educación</h2>
            </div>
            <h3>Educ.ar</h3>
            <p><strong>Introducción al diseño vectorial.</strong><br>
                <strong>Descripción:</strong> En la vida contemporánea, el diseño constituye una herramienta fundamental para la comunicación. Este curso permite introducirse en el mundo gráfico vectorial a través de la herramienta digital Inskcape.<br>
                <strong>Contenidos aprendidos:</strong> Operaciones Iniciales, Curvas con la herramienta Bézier, Colores, Herramientas avanzadas, Imágenes.<br>
                <strong>Carga horaria:</strong> aproximadamente 16 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> Marzo 2023 - Abril 2023.</p>

            <h3>Centro Universitario de Idiomas</h3>
            <p><strong>Curso de inglés con orientación en programación (Nivel pre-intermedio).</strong><br>
                <strong>Descripción:</strong> Este curso va dirigido a los que
                esten cursando la segunda etapa de Argentina Programa 4.0, se realiza a través de la Plataforma CUI
                Online y brinda la posibilidad de acceder a contenidos curriculares y a actividades que abordan aspectos
                relevantes vinculados al rubro de la programación.<br>
                <strong>Contenidos aprendidos:</strong> comprensión lectora y auditiva
                y producción escrita y oral.<br>
                <strong>Carga horaria:</strong> aproximadamente 80 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> Diciembre 2022 - Enero 2023.</p>
            <h3>Argentina Programa 4.0</h3>
            <p><strong>Segunda etapa #YoProgramo.</strong><br>
                <strong>Descripción:</strong> La segunda etapa de Argentina Programa 4.0 permite profundizar los
                conocimientos y adquirir las habilidades y herramientas necesarias para convertirse en un programador
                web full-stack junior.<br>
                <strong>Contenidos aprendidos:</strong> Git/Github, HTML, CSS, Bootstrap, JavaScript,
                Typescript, Angular, MySQL, Java, Spring Boot.<br>
                <strong>Carga horaria:</strong> aproximadamente 480 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> Junio 2022 - Enero 2023.</p>
            <h3>Portal Empleo</h3>
            <p><strong>Habilidades digitales para la inclusión laboral.</strong><br>
                <strong>Descripción:</strong> Este curso es dirigido a interesados en adquirir una
                formación básica para el conocimiento y uso de procesador de texto, planilla de cálculo, diseño de
                presentaciones, videoconferencias y para el diseño de sitios de internet, utilizando los lenguajes más
                frecuentes en el mercado laboral.<br>
                <strong>Contenidos aprendidos:</strong> Microsoft Excel, Microsoft Word, Microsoft
                Power Point, Microsoft Teams, Visual Studio Code, HTML, CSS, JavaScript.<br>
                <strong>Carga horaria:</strong> aproximadamente 32 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong>
                Septiembre 2022 - Noviembre 2022.</p>
            <h3>Educ.ar</h3>
            <p><strong>Seguridad informática.</strong><br>
                <strong>Descripción:</strong> Hoy en día las computadoras están presentes en un montón de áreas de nuestra
                sociedad y son cada vez más imprescindibles para la realización de muchas tareas. Las personas confiamos
                y volcamos nuestras vidas en estas tecnologías: nos comunicamos, enviamos y compartimos todo tipo de
                contenido, pagamos servicios, entre tantas cosas más. Como usuarios estamos expuestos a innumerables
                amenazas y en este curso vamos a conocer cuáles son los riesgos, cómo evitarlos y reconocerlos para
                mejorar nuestra privacidad y seguridad en internet.<br>
                <strong>Contenidos aprendidos:</strong> Phishing, contraseñas
                seguras, privacidad en redes sociales, Malware, permisos de las aplicaciones.<br>
                <strong>Carga horaria:</strong> aproximadamente 10 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> Septiembre 2022 - Octubre 2022.</p>
            <h3>Educ.ar</h3>
            <p><strong>Reparación y mantenimiento de nuestra computadora personal.</strong><br>
                <strong>Descripción:</strong> En este curso se refiere a la computadora
                personal de escritorio, se enseñan herramientas y técnicas básicas que ayudan a mantenerla en
                condiciones. También se identifican las partes que la componen y las funciones que cumplen, para poder
                reconocer y solucionar los problemas que suelen presentarse.<br>
                <strong>Contenidos aprendidos:</strong> conceptos básicos,
                funciones de los componentes, conectores, cables y puertos más utilizados, fallas comunes en componentes
                y posibles soluciones, herramientas y soluciones térmicas.<br>
                <strong>Carga horaria:</strong> aproximadamente 12 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> Agosto 2022 -
                Septiembre 2022.</p>
            <h3>Argentina programa 4.0</h3>
            <p><strong>Primera etapa #SéProgramar.</strong><br>
                <strong>Descripción:</strong> La primera etapa de Argentina Programa 4.0 es un curso introductorio en el
                que se aprende los fundamentos básicos de la programación para dar los primeros pasos en el mundo
                tecnológico.<br>
                <strong>Contenidos aprendidos:</strong> fundamentos básicos de la programación, programación imperativa,
                programación con Objetos.<br>
                <strong>Carga horaria:</strong> aproximadamente 60 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> febrero 2022 - Abril 2022.</p>
            <h3>Educ.ar</h3>
            <p><strong>Introducción al Stop Motion.</strong><br>
                <strong>Descripción:</strong> La técnica de stop motion refiere a la animación cuadro por cuadro de
                objetos tridimensionales. Este curso aborda algunos aspectos básicos de esta técnica para animar objetos
                con varias fotografías; es decir, cuadro por cuadro. A lo largo de las unidades, se descubre cómo
                construir personajes y lograr que realicen distintas acciones, tales como hablar y caminar, para luego
                integrar todo en una pequeña historia.<br>
                <strong>Contenidos aprendidos:</strong> diseño de personaje, vocalización (sincronismo labial), caminata, Timing,
                Storyboard.<br>
                <strong>Carga horaria:</strong> aproximadamente 12 horas.<br>
                <strong>Modalidad:</strong> En línea / virtual.<br>
                <strong>Fecha de realización:</strong> Noviembre 2020 - Diciembre 2020.</p>
            <h3>Escuela de Educación Técnica Nº5 Malvinas Argentinas</h3>
            <p><strong>Electrotécnico con orientación electrónica industrial.</strong><br>
                <strong>Descripción:</strong> En esta institución educativa al alumno que elige
                esta orientación se le capacita para proyectar, cotizar, ejecutar, ensayar y mantener el funcionamiento
                de automatismos eléctricos cableados y/o programados, realizando programas para el control de
                computadoras de procesos y autómatas programables.<br>
                <strong>Modalidad:</strong> Presencial.<br>
                <strong>Fecha de realización:</strong> Marzo 1998 - Diciembre 2003.
            </p>
            <h3>Escuela Privada Nº 20 Ceferino Namuncura</h3>
            <p><strong>Descripción:</strong> En esta institución Educativa se procura la alfabetización del alumno, o sea, se le enseña a leer y a
                escribir, a realizar cálculos, y algunos conceptos culturales imprescindibles que le permitirán ir
                formándose como persona de bien.<br>
                <strong>Modalidad:</strong> Presencial.<br>
                <strong>Fecha de realización:</strong> Marzo 1991 - Noviembre 1997.</p>
        </div>
    </div>
</div>