<nav class="navbar sticky-top border border-dark border-2 navbar-dark bg-primary">

    <div class="container-fluid">
        <span class="navbar-text">
            <h2>Bienvenidos a mi Portfolio</h2>
        </span>

        <a class="navbar-brand" href="mailto:maxilencina1985@gmail.com">
            <img src="assets/img/email-icon.png" alt="" title="Email" width="54" height="54" class="d-inline-block align-text-top">
        </a>

        <a class="navbar-brand" href="https://www.linkedin.com/in/maximiliano--lencina/">
            <img src="assets/img/linkedin-icon.png" alt="" title="Linkedin" width="44" height="44" class="d-inline-block align-text-top">
        </a>

        <a class="navbar-brand" href="https://github.com/Max-Lencina">
            <img src="assets/img/github-icon.png" alt="" title="Github" width="37" height="37" class="d-inline-block align-text-top">
        </a>

        <a class="navbar-brand" href="https://www.instagram.com/max_lencina/">
            <img src="assets/img/instagram-icon.png" alt="" title="Instagram" width="53" height="53"
                class="d-inline-block align-text-top">
        </a>

    </div>
</nav>