<div class="container text-right">
    <div class="row">
        <div class="col">
            <div class="alert border border-dark border-2 alert-primary" role="alert">
                <h2>Experiencia</h2>
            </div>
            
            <h3>Profesor particular</h3>
            <p>Materias: Matemática (nivel secundario) y física (nivel secundario) desde el año 2010 hasta el 2019.</p>
            <h3>"La Argentina" minimercado</h3>
            <p>Cajero desde el año 2004 hasta el 2009.</p>
        </div>
    </div>
</div>